<!-- The Content Heading -->
 <% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<!-- display a message -->
<%# messages() %>

<!-- main content delivery mechanism for the view -->
<%- grid %>
