<h1><%- title %></h1>

<!-- display message -->
<p class="success-text"><%- message %></p>

<hr>
<a href="/inv/add-classification">Add New Classification</a><br>
<a href="/inv/add-inventory">Add New Inventory</a>
<hr>